<div class="well" ng-controller="changePasswordController">
  <h3>Change your password</h3>
  <br>
  <form>
    <div class="form-group" ng-class="{'has-error':oldPasswordError}">
      <label for="efOldPassword" class="form-control-label" >Old Password</label>
      <input id="efOldPassword" type="password" class="form-control" ng-class="{'form-control-danger':oldPasswordError}" ng-model="oldPassword" required="true">
      <div class="form-text" ng-show="oldPasswordError">Old password is incorrect</div>
    </div>
    <div class="form-group" ng-class="{'has-error':newPasswordError}" >
      <label for="efNewPassword" class="form-control-label">New Password</label>
      <input id="efNewPassword" type="password" class="form-control" ng-class="{'form-control-danger':newPasswordError}" ng-model="newPassword" required="true"/>
      <div class="form-text" ng-show="newPasswordError">Invalid password</div>
    </div>
    <div class="clearfix">
      <div class="pull-right">
        <a class="btn btn-danger" href="/profile/edit">Cancel</a>
        <button type="submit" class="btn btn-success" ng-click="change()">Save</button>
      </div>
    </div>
  </form>
</div>
