<div class="well" ng-controller="loginController">
  <h3 >Login</h3>
  <br>
  <form>
    <div class="form-group">
      <label for="efUsername">Username</label>
      <input id="efUsername" type="text" class="form-control" ng-model="username" required="true"/>
    </div>
    <div class="form-group">
      <label for="efPassword">Password</label>
      <input id="efPassword" type="password" class="form-control" ng-model="password" required="true"/>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn btn-success pull-right" ng-click="login(user,password)">Login</button>
    </div>
  </form>
</div>
