<div class="well" ng-controller="profileController">
  <h3>Profile</h3>
  <br>
  <div class="row">
    <span class="col-md-6"><strong>Name:</strong></span>
    <span class="col-md-6">{{user.name}}</span>
  </div>
  <div class="row">
    <span class="col-md-3"><strong>Username:</strong></span>
    <span class="col-md-6">{{user.username}}</span>
  </div>
  <div class="row">
    <span class="col-md-3"><strong>Zip Code:</strong></span>
    <span class="col-md-6">{{user.location}}</span>
  </div>
  <br>
  <a type="button" class="btn btn-primary" href="/profile/edit">Edit Profile</a>
  <a type="button" class="btn btn-primary" href="/profile/artists">Edit Favorite Artists</a>
</div>
