<div class="well " ng-controller="signupController">
  <h3>Signup</h3>
  <br>
  <form>
    <div class="form-group">
      <label for="efName">Name</label>
      <input id="efName" type="text" class="form-control" ng-model="name" required="true"/>
    </div>
    <div class="form-group" ng-class="{'has-error':userError}">
      <label for="efUsername">Username</label>
      <input id="efUsername" type="text" class="form-control" ng-model="username" required="true"/>
      <div class="form-text" ng-show="userError">Username not available</div>
    </div>
    <div class="form-group">
      <label for="efPassword">Password</label>
      <input id="efPassword" type="password" class="form-control" ng-model="password" required="true"/>
    </div>
    <div class="form-group">
      <label for="efLocation">Zip Code</label>
      <input id="efLocation" type="text" class="form-control" ng-model="location"/>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn btn-success pull-right" ng-click="signup(name,username,password,location)">Sign Up</button>
    </div>
  </form>
</div>
